@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap'); //poppins
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap'); //roboto slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap'); //robot mono
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap'); //rubik
@poppins: 'Poppins', sans-serif;
@rubik: 'Rubik', sans-serif;
@roboto: 'Roboto Slab', serif;
@mono: 'Roboto Mono', monospace;
@pink: #F781AC;
@gray: #424242;
@light-gray: #CFCFCF;

@logoyellow: #fbda61;
@logopink: #FF5ACD;

@gradient: linear-gradient(45deg, @logoyellow 0%, @logopink 100%);

/* ---- reset ---- */
html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

* {
  font-family: @rubik;
  font-weight: normal;
}

.website-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin: 5px 0 0 0;
  background: @gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  h1 {
    margin: 0;
  }
}

.title {
  font-size: 3.25em;
  text-align: center;
  font-weight: 500;
  margin: 30px auto 5px;
}

.text {
  font-family: @roboto;
  color: @gray;
  font-size: 1.25em;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 2em;
}

/* ---- logo ---- */
.logo {
  background-color: #FBDA61;
  background-image: @gradient;
  -webkit-mask: url(../img/logo.svg) no-repeat center;
  mask: url(../img/logo.svg) no-repeat center;
  mask-size: cover;
  width: 50px;
  height: 50px;
}

/* ---- input styling ---- */
input {
  border-radius: 26px;
  height: 40px;
  border: solid 2px @light-gray;
  font-size: 1.5em;
  color: #000000;
  max-height: 40px;
  outline: none;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 5px;
}

input[type=number] {
  font-family: @mono;
}

input[type=text] {
  font-family: @poppins;
}

input[type=button] {
  padding: 0;
  height: 40px;
  width: 40px;
}

/* ---- button styling ---- */
.button {
  height: 40px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 500;
  border: solid 2px @pink;
  border-radius: 26px;
  background-color: unset;
  padding: 0 10px 0 10px;
  outline: none;
  transition-duration: .2s;
  cursor: pointer;
  .button-icon {
    width: 35px;
    height: 35px;
    fill: @pink;
  }
}

.button:hover {
  background-color: @light-gray;
}

/* ---- burger menu ---- */
.burger {
  display: inline-block;
  cursor: pointer;
  margin: 9px 0 0 15px;
}

.bb1, .bb2, .bb3 {
  width: 35px;
  height: 4px;
  background-color: @pink;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bb1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bb2 {opacity: 0;}

.change .bb3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}