<template>
    <div class="create">
        <h2 class="title">Add recipes</h2>
        <div class="title-input-container">
            <input v-model="title" placeholder="Title" class="title-input" type="text">
            <input v-model="image" placeholder="Image" class="title-input" type="url">
        </div>


        <div class="info">
            <h1 class="yields-title info-title">Yields:</h1>
            <input v-model="yields" class="yields info-value" type="number">

            <h1 class="prep-time-title info-title">Prep time:</h1>
            <div class="prep-time">
        <span>
            <input v-model="prep_time_hours" class="info-value" type="number">
            <a class="info-unit">hours</a>
            <input v-model="prep_time_minutes" class="info-value" type="number">
            <a class="info-unit">minutes</a>
        </span>
            </div>


            <h1 class="total-time-title info-title">Total time:</h1>
            <div class="total-time">
        <span>
            <input v-model="total_time_hours" class="info-value" type="number">
            <a class="info-unit">hours</a>
            <input v-model="total_time_minutes" class="info-value" type="number">
            <a class="info-unit">minutes</a>
        </span>
            </div>
        </div>
        <div class="parts">
            <h2 class="parts-title subtitle">Parts</h2>
            <div class="parts-container" v-for="(part, index) in parts" :key="part.id">
                <div class="part">
                    <h1 v-text="index+1"></h1>
                    <input type="text" placeholder="Part Title" v-model="part.title">
                    <button v-if="parts.length !== 1" v-on:click="removePart(index)" class="button"><img src="../assets/img/remove.svg" alt="" class="button-icon"></button>
                </div>
            </div>
            <button v-on:click="newPart" class="button add-button"><img src="../assets/img/add.svg" alt="" class="button-icon">Add part</button>

            <div class="line"></div>
        </div>

        <div class="ingredients">
            <h2 class="ingredients-title subtitle">Ingredients</h2>
            <div class="ingredients-container" v-for="(ingredient, index) in ingredients" :key="index">
                <div class="ingredient">
                    <h1 class="ingredient-label">Ingredient</h1>
                    <input type="text" placeholder="Ingredient" v-model="ingredient.name" class="ingredient-name">
                    <h1 class="amount-label">Amount</h1>
                    <input type="number" placeholder="Amount" v-model="ingredient.amount" class="amount">
                    <h1 class="unit-label">Unit</h1>
                    <input type="text" placeholder="Unit" v-model="ingredient.unit" class="unit">
                    <button v-if="ingredients.length !== 1" v-on:click="removeIngredient(index)" class="button remove-button"><img src="../assets/img/remove.svg" alt="" class="button-icon"></button>
                </div>
            </div>
            <button v-on:click="newIngredient" class="button add-button"><img src="../assets/img/add.svg" alt="" class="button-icon">Add ingredient</button>
        </div>

        <div class="line"></div>

        <div class="instructions">
            <h2 class="instructions-title subtitle">Instructions</h2>
            <div class="instructions-container" v-for="(instruction, index) in instructions" :key="index">
                <div class="instruction">
                    <h1 class="instruction-label">Instruction</h1>
                    <textarea type="text" placeholder="Instruction text" v-model="instruction.instruction" class="instruction-text"></textarea>
                    <h1 class="part-label">Part</h1>
                    <select name="Part" id="instruction-part" class="instruction-part" v-model="instruction.part">
                        <option v-bind:value="partindex" v-for="(part, partindex) in parts" :key="partindex">{{ part.title }}</option>
                    </select>
                    <button v-if="instructions.length !== 1" v-on:click="removeInstruction(index)" class="button remove-button"><img src="../assets/img/remove.svg" alt="" class="button-icon"></button>
                </div>
            </div>
            <button v-on:click="newInstruction" class="button add-button"><img src="../assets/img/add.svg" alt="" class="button-icon">Add instruction</button>
        </div>

        <button v-on:click="sendToDB()" class="button add-button">Save to Mongo</button>
    </div>



</template>

<script>
    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    import axios from 'axios'

    Vue.use(VueCookies)
    export default {
        name: "Create",
        data() {
            return {
                yields: 0,
                title: "",
                prep_time_hours: 0,
                prep_time_minutes: 0,
                total_time_hours: 0,
                total_time_minutes: 0,
                image: "",
                parts: [
                    {
                        id: 1,
                        title: ""
                    },
                ],
                ingredients: [
                    {
                        amount: 1,
                        part: 1,
                        name: "",
                        unit: ""
                    },
                ],
                instructions: [
                    {
                        instruction: "",
                        part: 0
                    }
                ]
            }
        },
        methods: {
            /*
            DB
            */
            sendToDB: function() {
                const partsData = this.parts;
                let partsMongo = [];
                for (var i = 0; i < partsData.length; i++) {
                    let tmpPart = {
                        title: partsData[i].title,
                        id: i
                    }
                    partsMongo.push(tmpPart);
                }

                let ingredientsMongo = [];
                const ingredientsData = this.ingredients;
                for (var j = 1; j <= partsData.length; j++) {
                    let ingredientPart = [];
                    for (var k = 0; k < ingredientsData.length; k++) {
                        if (j === ingredientsData[k].part) {
                            let tmpIngredient = {
                                name: ingredientsData[k].name,
                                amount: ingredientsData[k].amount,
                                unit: ingredientsData[k].unit
                            }
                            ingredientPart.push(tmpIngredient);
                        }
                    }
                    ingredientsMongo.push({
                        part: j,
                        ingredients: ingredientPart
                    })
                }

                let instructionsMongo = [];
                const instructionsData = this.instructions;
                for (var l = 0; l < partsData.length; l++) {
                    let instructionPart = [];
                    let step = 1;
                    for (var m = 0; m < instructionsData.length; m++) {
                        if (l === instructionsData[m].part) {
                            let tmpInstruction = {
                                instruction: instructionsData[m].instruction,
                                step: step
                            }
                            step++;
                            instructionPart.push(tmpInstruction);
                        }
                    }
                    instructionsMongo.push({
                        part: l,
                        instructions: instructionPart
                    })
                }

                let json = {
                    title: this.title,
                    yields: this.yields,
                    prep_time: (this.prep_time_hours*60+this.prep_time_minutes),
                    total_time: (this.total_time_hours*60+this.total_time_minutes),
                    last_cooked: null,
                    is_marked: false,
                    rating: 10,
                    image: this.image,
                    parts: partsMongo,
                    ingredients: ingredientsMongo,
                    instructions: instructionsMongo
                }

                console.log(json);

                const url = process.env.VUE_APP_SERVER_URL + "/create"
                if (this.$cookies.isKey("session_token")) {
                    axios
                        .post(url, json, {headers: {'session-token': this.$cookies.get("session_token")}})
                        .then(response => (console.log(response)));
                }
            },
            /*
            PARTS
            */
            newPart: function() {
                console.log("A new part has been added.");
                let id = this.parts[0].id;
                this.parts.forEach(() => function(e) {
                    if (e.id >= id) {
                        id = e.id;
                    }
                })
                id++;
                let newPart = {
                    id: id,
                    title: ""
                }
                this.parts.push(newPart);
            },
            removePart: function (id) {
                console.log("Removed part " + id);
                this.parts.splice(id, 1);
            },
            /*
            INGREDIENTS
             */
            newIngredient: function() {
                console.log("A new ingredient has been added.");
                let newIngredient = {
                    amount: 1,
                    name: "",
                    unit: ""
                }
                this.ingredients.push(newIngredient);
            },
            removeIngredient: function (id) {
                console.log("Removed ingredient " + id);
                this.ingredients.splice(id, 1);
            },
            /*
            INSTRUCTIONS
            */
            newInstruction: function() {
                console.log("A new instruction has been added.");
                let newInstruction = {
                    part: 0,
                    instruction: ""
                }
                this.instructions.push(newInstruction);
            },
            removeInstruction: function (id) {
                console.log("Removed instruction " + id);
                this.instructions.splice(id, 1);
            }
        }
    }
</script>

<style scoped lang="less">
    @import "../assets/css/global";
    .title-input-container {
        margin: 0 auto 15px;
        width: fit-content;
        .title-input {
            margin-top: 15px;
            width: 600px;
        }
    }

    .info {
        margin: 0 auto 50px;
        border-image: @gradient 1 0;
        border-style: solid;
        border-width: 3px;
        padding: 15px;
        text-align: center;
        width: 800px;
        height: 100px;
        display: grid;
        grid-template-columns: 125px 1fr 1fr;
        grid-template-rows: 50px 50px;
        grid-template-areas:
                "yields-title prep-time-title total-time-title"
                "yields prep-time total-time";

        .info-title {
            font-size: 1.25em;
            text-transform: uppercase;
            font-weight: 500;
        }
        .info-value {
            font-size: 1.75em;
            width: 100px;
            margin: 0;
            font-weight: 600;
            text-align: center;
        }
        .info-unit {
            text-transform: uppercase;
            font-size: .75em;
            font-weight: 500;
        }
        .yields-title {
            grid-area: yields-title;
        }
        .yields {
            grid-area: yields;
        }
        .prep-time-title {
            grid-area: prep-time-title;
        }
        .prep-time {
            grid-area: prep-time;
            input {
                width: 50px;
            }
        }
        .total-time-title {
            grid-area: total-time-title;
        }
        .total-time {
            grid-area: total-time;
            input {
                width: 50px;
            }
        }
    }

    .add-button {
        position: relative;
        right: -55%;
    }

    .parts {
        .parts-title {
            margin-bottom: 0;
        }
        .parts-container {
            margin-bottom: 10px;
            .part {
                width: 600px;
                max-width: 100vw;
                margin: 0 auto;
                h1 {
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 10px;
                }
                input {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .ingredients {
        .ingredients-title {
            margin-bottom: 0;
        }
        .ingredients-container {
            margin-bottom: 10px;
        }
        .ingredient {
            .ingredient-label {
                grid-area: ingredient-label;
            }
            .ingredient-name {
                grid-area: ingredient-name;
            }
            .amount-label {
                grid-area: amount-label;
            }
            .amount {
                grid-area: amount;
            }
            .unit-label {
                grid-area: unit-label;
            }
            .unit {
                grid-area: unit;
            }
            .remove-button {
                grid-area: remove-button;
            }
            width: 700px;
            max-width: 100vw;
            margin: 15px auto;
            border-bottom: solid @light-gray 1px;
            padding-bottom: 10px;
            display: grid;
            grid-template-columns: 200px 400px 50px;
            grid-template-rows: 50px 50px 50px ;
            align-items: center;
            justify-items: left;
            grid-template-areas:
                    "ingredient-label ingredient-name ."
                    "amount-label amount ."
                    "unit-label unit remove-button";
            input {
                margin: 0 auto;
            }
            .remove-button {
                width: 40px;
            }
        }
    }

    .instructions {
        .instructions-container {
            .instruction {
                .instruction-text {
                    width: 700px;
                    max-width: 100vw;
                    height: 250px;
                    font-size: 1.25em;
                    border-radius: 26px;
                    border: solid 2px @light-gray;
                    color: #000000;
                    outline: none;
                    font-weight: 500;
                    padding: 5px 20px 5px 20px;
                }
                .instruction-part {
                    margin-bottom: 10px;

                }
                .remove-button {
                    display: block;
                    margin: 0 auto 10px auto;
                }
                width: 700px;
                max-width: 100vw;
                border-bottom: solid @light-gray 1px;
                margin: 0 auto 10px;
            }
        }
    }
</style>