<template>
  <div class="home" v-if="isLoading">
    <LoadingScreen loading="recipes" background-color="#ffffff"></LoadingScreen>
  </div>
  <div class="home" v-else>
    <div class="logo"></div>
    <div class="website-title">
      <h1>Chizuhara</h1>
    </div>

    <div class="recipes">
      <div class="recipe" v-for="(recipe, index) in recipes" :key="index">
        <div v-on:click="goToRecipe(recipe._id)" class="clickable">
          <img :src="recipe.image" :alt="recipe.title">
          <h1 v-text="recipe.title" class="recipe-title"></h1>
        </div>
        <div class="info">
          <div class="rating" v-if="calcRating(recipe)">
            <div class="rating-bar"><p>Rating coming soon</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
// @ is an alias to /src
import Vue from 'vue'
import VueCookies from 'vue-cookies'
Vue.use(VueCookies)
import axios from 'axios'
import LoadingScreen from "../components/LoadingScreen";

export default {

  name: 'Home',
  components: {
    LoadingScreen
  },
  data() {
    return {
      recipes: [],
      ratings: [],
      isLoading: true
    }
  },
  beforeMount() {
    const baseUrl = process.env.VUE_APP_SERVER_URL;

    if (this.$cookies.isKey("session_token")) {
      axios
              .get(baseUrl+"/recipes", {headers: {"session-token": this.$cookies.get("session_token")}})
              .then(response => {
                this.recipes = response.data;
              })
              .then(() => this.isLoading = false);
    } else {
      console.log("No token found!");
        axios
                .get(baseUrl+"/recipes")
                .then(response => {
                  console.log(response);
                  this.recipes = response.data;
                  this.isLoading = false;
                })
                .catch(error => console.log(error));

    }
  },
  created() {
    console.log(Array.from(this.$data.recipes));
    console.log(Array.from(this.$data.ratings));
  },
  methods: {
    goToRecipe: function (recipeId) {
      this.$router.push({name: 'Recipe', params: {id: recipeId}})
    },
    calcRating(rating) {
      if (!this.$cookies.isKey("session_token")) return -1;
      return rating;
    }
  }
}
</script>

<style scoped lang="less">
  @import "../assets/css/global";

  .home {
    .logo {
      margin: 10px auto -15px;
    }
    .recipes {
      padding: 0 25px 0 25px;
      width: 100vw;
      height: 100vh;
      .recipe {
        //border: coral 1px solid;
        width: 250px;
        height: 350px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        .clickable {
          cursor: pointer;
          img {
            height: 250px;
            width: 250px;
            object-fit: cover;
          }
          .recipe-title {
            text-align: center;
            margin-top: 0;
          }
        }
        .info {
          .rating {
            margin: 0 auto;
            width: 225px;
            height: 15px;
            border: 1px @gray solid;
            border-radius: 15px;
            background-image: @gradient;
            .rating-bar {
              width: 225px;
              height: 15px;
              border-radius: 15px;
              background-color: #ffffff;
              float: right;
            }
          }
        }
      }
    }
  }
</style>