<template>
    <div class="login">
        <LoadingScreen loading="user data" background-color="rgba(255,255,255,0.1)" v-if="isLoading" class="loading-screen"></LoadingScreen>
        <div class="logo"></div>
        <div class="website-title">
            <h1>Chizuhara</h1>
        </div>
        <div class="form">
            <h1>Login</h1>
            <label>Email:
                <input type="email" v-model="email" @keyup.enter="login" v-bind:style="{ border: '2px solid ' + emailColor}">
            </label>
            <label>Password:
                <input type="password" v-model="password" @keyup.enter="login">
            </label>
                <h1 v-if="errorMessage != null && errorMessage.length > 0" class="error-message">{{ errorMessage }}</h1>
            <button v-on:click="login">Login</button>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    Vue.use(VueCookies)

    import axios from 'axios'
    import LoadingScreen from "../components/LoadingScreen";

    export default {
        name: "Login",
        components: {LoadingScreen},
        data() {
            return {
                email: "",
                emailColor: "@gray",
                password: "",
                token: "",
                permissions: {},
                errorMessage: "",
                isLoading: false
            };
        },
        methods: {
            validateEmail(email) {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            login: function () {
                this.isLoading = true;
                const url = process.env.VUE_APP_SERVER_URL + "/authenticate"

                axios
                    .post(url,{email: this.email, password: this.password})
                    .then(response => {
                        console.log(response);
                        this.token = response.data.token;
                        this.permissions = response.data.permissions;

                        if (response.data.token == null) return;
                        //set cookies
                        //this.$cookies.set("session_token", this.token, "3m", null, null, "Strict");
                        this.$cookies.set("session_token", response.data.token, "3m", null, null);
                        this.$cookies.set("permissions", response.data.permissions);
                        this.isLoading = false;
                        location.reload();
                        this.$router.go(-1);
                    }).catch(error => {
                    if (error.response) {
                        console.log(error.response.status);
                        if (error.response.status === 401) {
                            this.$data.errorMessage = "Invalid email or password.";
                            this.$data.isLoading = false;
                        }
                    }
                });
            }
        }
    }
</script>

<style scoped lang="less">
    @import "../assets/css/global";
    @formWidth: 250px;
    @margin: 10px;
    .loading-screen {
        z-index: 99999;
    }
    .error-message {
        font-size: 1em;
        margin: -@margin 0 25px 0 !important;
        color: #ff0000;
    }
    .login {
        .logo {
            margin: 10px auto -15px;
        }
        .form {
            width: @formWidth;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                margin-bottom: @margin;
                padding: 0;
            }
            input {
                display: block;
                outline: none;
                padding: 0 10px 0 10px;
                border: 2px solid @gray;
                width: calc(@formWidth - 20px);
                max-width: calc(@formWidth - 20px);
                height: calc(@formWidth / 10);
                max-height: calc(@formWidth / 10);
                border-radius: calc(@formWidth / 10);
                margin-bottom: @margin;
                font-size: 1em;
                font-weight: 400;
            }
            button {
                float: right;
                border: 2px solid @gray;
                width: calc(@formWidth / 3);
                height: calc(@formWidth / 8);
                border-radius: calc(@formWidth / 10);
                background-color: #ffffff;
                font-size: 1em;
                font-weight: 500;
                outline: none;
                cursor: pointer;
                transition-duration: .25s;
            }
            button:hover {
                border-color: @logopink;
            }
        }
    }
</style>