<template>
    <div class="logout">
        <button v-on:click="logout">Logout</button>
    </div>
</template>

<script>

    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    Vue.use(VueCookies)

    export default {
        name: "Logout",
        methods: {
            logout: function () {
                this.$cookies.remove("session_token");
                this.$cookies.remove("permissions");
                location.reload();
            }
        }
    }
</script>

<style scoped>

</style>