<template>
    <div class="recipe-page-loading" v-if="isLoading">
        <LoadingScreen loading="recipe"></LoadingScreen>
    </div>
    <div class="recipe-page" v-else>
        <h2 class="title">{{ recipe.title }}</h2>

        <div class="info">
            <h1 class="yields-title info-title">Yields:</h1>
            <h2 class="yields info-value">{{ recipe.yields }}</h2>

            <h1 class="prep-time-title info-title">Prep time:</h1>
            <div v-if="recipe.prepTimeHours <= 0" class="prep-time">
                <span>
                    <a class="info-value">{{ recipe.prepTimeMinutes }}</a>
                    <a class="info-unit" v-if="recipe.prepTimeMinutes !== 1">minutes</a><a class="info-unit" v-else>minute</a>
                </span>
            </div>
            <div v-else class="prep-time">
                <span>
                    <a class="info-value">{{ recipe.prepTimeHours }}</a>
                    <a class="info-unit" v-if="recipe.prepTimeHours !== 1">hours</a><a class="info-unit" v-else>hour</a>
                    <a class="info-value">{{ recipe.prepTimeMinutes }}</a>
                    <a class="info-unit" v-if="recipe.prepTimeMinutes !== 1">minutes</a><a class="info-unit" v-else>minute</a>
                </span>
            </div>

            <h1 class="total-time-title info-title">Total time:</h1>
            <div v-if="recipe.totalTimeHours <= 0" class="total-time">
        <span>
            <a class="info-value">{{ recipe.totalTimeMinutes }}</a>
            <a class="info-unit" v-if="recipe.totalTimeMinutes !== 1">minutes</a><a class="info-unit" v-else>minute</a>
        </span>
            </div>
            <div v-else class="total-time">
        <span>
            <a class="info-value">{{ recipe.totalTimeHours }}</a>
            <a class="info-unit" v-if="recipe.totalTimeHours !== 1">hours</a><a class="info-unit" v-else>hour</a>
            <a class="info-value">{{ recipe.totalTimeMinutes }}</a>
            <a class="info-unit" v-if="recipe.totalTimeMinutes !== 1">minutes</a><a class="info-unit" v-else>minute</a>
        </span>
            </div>
        </div>


        <div class="recipe">
            <div class="ingredients">
                <h1 class="subtitle">Ingredients</h1>
                <div class="part" v-for="(part, index) in recipe.ingredients" :key="index">
                    <h1 class="part-title">Part {{ part.part+1 }}</h1>
                    <div v-for="(ingredient, iindex) in part.ingredients" class="ingredient" :key="iindex">
                        <h1 class="text">{{ ingredient.amount }}{{ ingredient.unit }} {{ ingredient.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="instructions">
                <h1 class="instructions-title subtitle">Instructions</h1>
                <div class="part" v-for="(part, index) in recipe.instructions" :key="index">
                    <h1 class="part-title">Part {{ part.part+1 }}</h1>
                    <div v-for="(instruction, ii) in part.instructions" :key="ii">
                        <span>
                            <a class="step">{{ instruction.step }}</a>
                            <a class="instruction text">{{ instruction.instruction }}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    Vue.use(VueCookies)
    import axios from 'axios'
    import LoadingScreen from "../components/LoadingScreen";

    export default {
        name: "Recipe",
        components: {LoadingScreen},
        data() {
            return {
                recipeId: 0,
                recipe: {},
                isLoading: true
            }
        },
        created() {
            this.recipeId = this.$route.params.id;
        },
        beforeMount() {
            if (this.$route.params.id != null) {
                this.$cookies.set("last_recipe", this.recipeId);
            } else {
                if (this.$cookies.isKey("last_recipe")) {
                    this.recipeId = this.$cookies.get("last_recipe");
                } else {
                    this.$router.push("/");
                }
            }
            const url = process.env.VUE_APP_SERVER_URL + "/recipe?id=" + this.recipeId;
            axios
                .get(url, {headers: {"session-token": this.$cookies.get("session_token")}})
                .then(response => (this.recipe = response.data))
                .then(() => this.isLoading = false);

            /*function getDataPromise() {
                return axios({
                    url: url,
                    method: 'get',
                    timeout: 8000,
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => {
                        console.log(res);
                        this.recipe = res
                    })
                    .catch (err => console.error(err))
            }*/
        },
        mounted() {
        },
        methods: {
            convertPrepTime: function () {
                console.log(this.recipe.prep_time + typeof this.recipe.prep_time);
                this.prep_time_minutes = Number(this.recipe.prep_time) % 60;
                this.prep_time_hours = Math.floor(Number(this.recipe.prep_time) / 60);
            },
            convertTotalTime: function (n) {
                var num = n;
                var hours = (num / 60);
                var rhours = Math.floor(hours);
                var minutes = (hours - rhours) * 60;
                var rminutes = Math.round(minutes);
                this.total_time_minutes = rminutes;
                this.total_time_hours = rhours;
            }
        }
    }
</script>

<style scoped lang="less">
@import "../assets/css/global";

.recipe-page-loading {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.recipe-page {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    margin: 0 auto 50px;
    border-image: @gradient 1 0;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    text-align: center;
    width: 600px;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 50px 50px;
    //gap: 1px 1px;
    grid-template-areas:
            "yields-title prep-time-title total-time-title"
            "yields prep-time total-time";

    .info-title {
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 500;
    }
    .info-value {
        font-size: 1.75em;
        height: 45px;
        margin: 0;
        font-weight: 600;
    }
    .info-unit {
        text-transform: uppercase;
        font-size: .75em;
    }
    .yields-title {
        grid-area: yields-title;
    }
    .yields {
        grid-area: yields;
    }
    .prep-time-title {
        grid-area: prep-time-title;
    }
    .prep-time {
        grid-area: prep-time;
    }
    .total-time-title {
        grid-area: total-time-title;
    }
    .total-time {
        grid-area: total-time;
    }
}

.recipe {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    gap: 0 250px;
    grid-template-areas:
            "ingredients instructions";
    .ingredients {
        margin: 0 50px 0 50px;
        width: 250px;
        grid-area: ingredients;
        .subtitle {
            text-align: left;
        }
        .ingredient-part-title {
            margin: 0;
        }
        .ingredient {
            margin: 0;
            h1 {
                margin: 0;
            }
        }
    }

    .part-title {
        font-size: 1.5em;
    }

    .instructions {
        grid-area: instructions;
        margin-right: 25px;
        float: right;
        /*.instructions-title {
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 15px;
          font-size: 2em;
        }*/
        .part {
            font-family: @roboto;
            .step {
                font-family: @mono;
                border-right: @pink solid 4px;
                font-weight: 600;
                font-size: 1.55em;
                width: min-content;
                padding-right: 5px;
                line-height: 2em;
                margin-right: 15px;
            }
            .instruction {
                color: @gray;
                width: available;
                margin-bottom: 5px;
            }
        }
    }
}
</style>