<template>
    <div class="signup">
        <div class="logo"></div>
        <div class="website-title">
            <h1>Chizuhara</h1>
        </div>
        <div class="form">
            <h1>Sign up</h1>
            <label>Email:
                <input type="email" v-model="email" v-bind:style="{ border: '2px solid ' + emailColor}">
            </label>
            <h1 v-if="emailErrorMessage.length > 0" class="error-message">{{ emailErrorMessage }}</h1>
            <label>Password:
                <input type="password" v-model="password" v-bind:style="{ border: '2px solid ' + passwordColor}">
            </label>
            <h1 v-if="passwordErrorMessage.length > 0" class="error-message">{{ passwordErrorMessage }}</h1>
            <button v-on:click="signup">Sign up</button>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    Vue.use(VueCookies)
    import axios from 'axios'

    export default {
        name: "Signup",
        data() {
            return {
                email: "",
                password: "",
                emailColor: "@gray",
                passwordColor: "@gray",
                isLoading: false,
                emailErrorMessage: "",
                passwordErrorMessage: ""
            };
        },
        methods: {
            signup: function () {
                const url = process.env.VUE_APP_SERVER_URL + "/createAccount";

                axios
                    .post(url,{email: this.email, password: this.password})
                    .then(response => {
                        this.$cookies.set("session_token", response.data.token, "3m", null, null);
                        this.$cookies.set("permissions", response.data.permissions);
                        location.reload();
                    })
                    .catch(error => {
                        console.log(error.response);

                    if (error.response) {
                        if (error.response.status === 409) {
                            this.$data.passwordColor = "@gray";
                            this.$data.emailColor = "@gray";
                            let errorHandled = false;
                            if (error.response.data.weak_password) {
                                this.$data.passwordColor = "#ff0000";
                                this.$data.passwordErrorMessage = "Password too weak"
                                errorHandled = true;
                            }
                            if (error.response.data.invalid_email) {
                                this.$data.emailColor = "#ff0000";
                                this.$data.emailErrorMessage = "Invalid email address";
                                errorHandled = true;
                            }
                            if (error.response.data.email_already_in_use) {
                                this.$data.emailColor = "#ff0000";
                                this.$data.emailErrorMessage = "Email address already in use";
                                errorHandled = true;
                            }
                            if (!errorHandled) {
                                this.$data.errorMessage = "Something went wrong. Please reload the page and try again.";
                                return;
                            }
                            return;
                        }
                    }
                });
            }
        }
    }
</script>

<style scoped lang="less">
    @import "../assets/css/global";
    @formWidth: 250px;
    @margin: 10px;

    .signup {
        .error-message {
            font-size: 1em;
            margin: -@margin 0 25px 0 !important;
        }
        .logo {
            margin: 10px auto -15px;
        }
        .form {
            width: @formWidth;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                margin-bottom: @margin;
                padding: 0;
            }

            input {
                display: block;
                outline: none;
                padding: 0 10px 0 10px;
                border: 2px solid @gray;
                width: calc(@formWidth - 20px);
                max-width: calc(@formWidth - 20px);
                height: calc(@formWidth / 10);
                max-height: calc(@formWidth / 10);
                border-radius: calc(@formWidth / 10);
                margin-bottom: @margin;
                font-size: 1em;
                font-weight: 400;
            }

            button {
                float: right;
                border: 2px solid @gray;
                width: calc(@formWidth / 3);
                height: calc(@formWidth / 8);
                border-radius: calc(@formWidth / 10);
                background-color: #ffffff;
                font-size: 1em;
                font-weight: 500;
                outline: none;
                cursor: pointer;
                transition-duration: .25s;
            }
            button:hover {
                border-color: @logopink;
            }
        }
    }
</style>