<template>
    <div class="menu">
        <div class="icon" v-on:click="openMenu">
            <div class="burger1 bar"></div>
            <div class="burger2 bar"></div>
            <div class="burger3 bar"></div>
        </div>
        <div class="nav" v-if="isOpen">
            <div class="nav-content">
                <div class="icon" v-on:click="closeMenu">
                    <div class="burger1 bar"></div>
                    <div class="burger2 bar"></div>
                    <div class="burger3 bar"></div>
                </div>
                <div class="logo" v-on:click="goHome"></div>
                <nav>
                    <ul>
                        <li v-on:click="goTo('/')">Home</li>
                        <li v-on:click="resumeRecipe" v-if="hasLastRecipe">Resume Recipe</li>
                        <li v-on:click="goTo('/create')" v-if="canWrite">Create</li>
                        <li v-if="this.$cookies.isKey('session_token')" v-on:click="logout" class="bottom">Logout</li>
                        <li v-else v-on:click="goTo('/login')" class="bottom">Login</li>
                        <li v-if="!this.$cookies.isKey('session_token')" v-on:click="goTo('/signup')" class="bottom">Signup</li>
                    </ul>
                </nav>
                <h2 class="footer">Made with ❤️ V VERSION</h2>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'
    import VueCookies from 'vue-cookies'
    Vue.use(VueCookies)

    export default {
        name: "Menu",
        data() {
            return {
                isOpen: false,
                permissions: {},
                canWrite: false,
                hasLastRecipe: false
            }
        },
        beforeMount() {
            if (this.$cookies.isKey("session_token")) {
                this.permissions = this.$cookies.get("permissions");
                this.canWrite = this.$cookies.get("permissions").canWrite;
            }
            if (this.$cookies.isKey("last_recipe")) {
                this.hasLastRecipe = true;
            }
        },
        methods: {
            goHome() {
                this.$router.push("/");
                this.closeMenu();
            },
            goTo(path) {
              this.$router.push(path);
              this.closeMenu();
            },
            resumeRecipe() {
              if (this.$cookies.isKey("last_recipe")) {
                  this.$router.push({name: 'Recipe', params: {id: this.$cookies.get("last_recipe")}});
              } else {
                  this.hasLastRecipe = false;
              }
            },
            openMenu() {
                this.isOpen = true;
            },
            closeMenu() {
                this.isOpen = false;
            },
            logout() {
                axios.get(process.env.VUE_APP_SERVER_URL+"/logout", {headers: {"session-token": this.$cookies.get("session_token")}});
                this.$cookies.remove("session_token");
                this.$cookies.remove("permissions");
                this.closeMenu();
                location.reload();
            }
        }
    }
</script>

<style scoped lang="less">
    @import "../assets/css/global";

    @length: 35px;

    .menu {
        .icon {
            position: fixed;
            top: 15px;
            left: 15px;
            cursor: pointer;
            display: inline-block;
            .bar {
                width: @length;
                height: 4px;
                margin-bottom: 4px;
                background-color: #000000;
            }
        }
        .nav {
            background-color: #ffffff;
            //box-shadow: @logoyellow 5px 0px, rgb(251,218,97) 10px 0px, rgba(246,132,134) 15px 0px, rgba(240,46,170) 20px 0px, @logopink 25px 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 10px 0 50px;
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            .nav-content {
                margin: 0 auto;
                width: fit-content;
                .logo {
                    margin: 50px 0 25px;
                    width: 75px;
                    height: 75px;
                }
                nav {
                    margin: 0 0 0 15px;
                    text-align: left;
                    ul {
                        padding: 0;
                        list-style: none;
                    }
                    li {
                        cursor: pointer;
                        font-size: 1.25em;
                        font-family: @poppins;
                    }
                    li:not(:last-child) {
                        border-bottom: 1px solid @light-gray;
                    }
                    .bottom {
                        float: bottom;
                    }
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            font-size: .75em;
        }
    }
</style>