<template>
  <div id="app">
    <router-view/>
    <div id="nav">
      <Menu></Menu>
    </div>
  </div>
</template>
<script>
  import Menu from "./components/Menu";

  export default {
    name: 'Chizuhara',
    components: {Menu}
  }
</script>

<style lang="less">
  @import "assets/css/global";
html, body {
  margin: 0;
  padding: 0;
}
  #nav {
    z-index: 999999;
  }
</style>
